body,
html,
div,
p {
  padding: 0;
  margin: 0;
}
.bg {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: url('./image/main.jpg');
  background-size: contain;
  background-position: center;
}
.bg-cover {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
}
.notice {
  color: #fff;
  text-align: center;
  line-height: 1.5em;
  padding: 20px 0;
}
.key-wrap {
  display: flex;
  justify-content: space-around;
}
.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  border-radius: 0.5rem;
  border: 4px solid #fff;
  color: #fff;
}
.key > p {
  font-size: 1.55em;
}
.playing {
  border-color: #fcd34d;
  color: #fcd34d;
}

.player {
  max-width: 420px;
  height: 820px;
  overflow: hidden;
  background-image: url('./image/main.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.player-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  text-align: center;
  color: #fff;
}
.cover {
  width: 15em;
  height: 15em;
  border-radius: 1em;
  background-image: url('./image/main.jpg');
  background-size: cover;
  background-position: center;
  margin: 20px auto;
}
.player-content .play-title {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2em;
}
